@import "./styles/Login/index";
@import "./styles/Signup/index";

* {
    margin    : 0px;
    padding   : 0px;
    box-sizing: border-box;
}

:root {

    // --background-color      : rgba(0, 0, 0, 0.4);
    // --color                 : rgba(0, 0, 0, 0.6);
    // --background-white-color: white;
    // --white-color           : #f1f1f1;
    // --background-color-link : #003e76cc;
    // --blackone              :#{$white-color};
    // --whiteone              :#{$dark-color};
    // --white-color-one       :#{$white-color-one};
}



// sfsdf